In [ ]:
# for loop basic assignment

In [1]:
# Print numbers from 1 to 10

for i in range(1,11) :
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
# Print numbers from 10 to 1

for i in range(10,0,-1) :
    print(i)

10
9
8
7
6
5
4
3
2
1

In [6]:
# Print all even numbers from 1 to 50

for i in range(2, 51, 2) :
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [7]:
# Print all odd numbers from 1 to 50

for i in range(1, 51, 2) :
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [10]:
# Print numbers from 0 to 100 with a step of 10

for i in range(10, 101, 10) :
    print(i)

10
20
30
40
50
60
70
80
90
100

In [11]:
# Print numbers from 5 to 50 with a step of 5

for i in range(5, 51, 5) :
    print(i)

5
10
15
20
25
30
35
40
45
50

In [12]:
# Print numbers from 100 to 0 with a step of -5

for i in range(100, 0, -5) :
    print(i)

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

In [13]:
# Print the square of numbers from 1 to 10

for i in range(1, 11) :
    print(i * i)

1
4
9
16
25
36
49
64
81
100

In [14]:
# Print the cube of numbers from 1 to 5

for i in range(1, 6) :
    print(i * i * i)

1
8
27
64
125

In [17]:
# Find the sum of numbers from 1 to 100

total = 0
for i in range(1, 101) :
    total += i
print("The sum of number : ",total)

The sum of number :  5050

In [19]:
# Find the sum of even numbers from 1 to 50

total = 0
for i in range(2, 51, 2) :
    total += i
print("The sum of even number : ", total)

The sum of even number :  650

In [21]:
# Print the table of 7

for i in range(1,11) :
    print(7 * i)

7
14
21
28
35
42
49
56
63
70

In [22]:
# Print numbers between 1 and 100 that are divisible by 4

for i in range(1, 101) :
    if(i % 4 == 0) :
        print(i)

4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96
100

In [23]:
# Print numbers from 1 to 30 but skip multiples of 3

for i in range(1, 31) :
    if(i % 3 == 0) :
        continue
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29

In [24]:
# Print numbers from 1 to 50 and stop when the number becomes 25

for i in range(1, 51) :
    if(i == 25) :
        break
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [25]:
# Print numbers from 20 to 1

for i in range(20, 0, -1) :
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [26]:
# Print all multiples of 6 between 1 and 100

for i in range(1, 101) :
    if(i % 6 == 0) :
        print(i)

6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96

In [27]:
# Print numbers from 2 to 20 with a step of 2

for i in range(2, 21, 2) :
    print(i)

2
4
6
8
10
12
14
16
18
20

In [28]:
# Print numbers from 1 to 100 in reverse order

for i in range(100, 0, -1) :
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [29]:
# Count how many numbers are there from 1 to 100

count = 0
for i in range(1, 101) :
    count += 1
print(count)

100