In [ ]:
# loops programs using for and while loop

In [1]:
# Print numbers from 1 to 50 using a for loop

for i in range(1, 51):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [3]:
# Print numbers from 50 to 1 using a for loop

for i in range(50, 0, -1):
    print(i)

50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [4]:
# Print all even numbers between 1 and 100

for i in range(1, 101):
    if(i % 2 == 0):
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [5]:
# Print all odd numbers between 1 and 100

for i in range(1, 101):
    if(i % 2 != 0):
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [9]:
# Print numbers from 10 to 100 with a step of 10

i = 10
while i <= 100 :
    print(i)
    i += 10

10
20
30
40
50
60
70
80
90
100

In [11]:
# Print the square of numbers from 1 to 10

i = 1
while i <= 10 :
    print(i * i)
    i += 1

1
4
9
16
25
36
49
64
81
100

In [12]:
# Print the cube of numbers from 1 to 5

i = 1
while i <= 5 :
    print(i * i * i)
    i += 1

1
8
27
64
125

In [14]:
# Find the sum of numbers from 1 to 100

sum = 0
i = 1
while i <= 100 :
    sum += i
    i += 1
print(sum)

5050

In [15]:
# Print the table of 9

i = 1
while i <= 10 :
    print(9 * i)
    i += 1

9
18
27
36
45
54
63
72
81
90

In [3]:
# Print numbers from 1 to 30 but skip multiples of 4

for i in range(1, 31):
    if(i % 4 == 0):
        continue
    print(i)

1
2
3
5
6
7
9
10
11
13
14
15
17
18
19
21
22
23
25
26
27
29
30

In [2]:
# Print numbers from 1 to 50 and stop the loop when the number becomes 25 using break

i = 1
while i <= 50 :
    if i == 25 :
        break
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [3]:
# Print numbers from 1 to 100 and stop when you encounter the first number divisible by 7

i = 1
while i <= 100 :
    if i % 10 == 7 :
        break
    print(i)
    i += 1

1
2
3
4
5
6

In [ ]:
# Print numbers from 1 to 40 but skip numbers divisible by 5 using continue

i = 1
while i <= 40 :
    if i % 5 == 0 :
        continue
    print(i)
    i += 1

1
2
3
4

In [1]:
# Print numbers from 10 to 1 and stop when the number becomes 4

i = 10
while i >= 1 :
    if i == 4 :
        break
    print(i)
    i -= 1

10
9
8
7
6
5

In [1]:
# Print all numbers from 1 to 100, but skip numbers between 30 and 40

for i in range(1, 101):
    if(30 <= i <= 40):
        continue
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [2]:
# Print numbers from 1 to 100 and stop when a number ends with 7

i = 1
while i <= 100 :
    if i % 10 == 7 :
        break
    print(i)
    i += 1

1
2
3
4
5
6

In [1]:
# Print numbers from 1 to 50, skip even numbers, and print only odd numbers

for i in range(1, 51):
    if i % 2 == 0 :
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [1]:
# Print numbers from 1 to 100 and stop when you find a number divisible by both 3 and 5

for i in range(1, 101):
    if(i % 3 == 0 and i % 5 == 0):
        break
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [2]:
# Print numbers from 1 to 60 but skip multiples of 6

for i in range(1, 61):
    if(i % 6 == 0):
        continue
    print(i)

1
2
3
4
5
7
8
9
10
11
13
14
15
16
17
19
20
21
22
23
25
26
27
28
29
31
32
33
34
35
37
38
39
40
41
43
44
45
46
47
49
50
51
52
53
55
56
57
58
59

In [8]:
# Print numbers from 100 to 1 and stop when the number becomes 55

for i in range(100, 0, -1):
    if(i == 55):
        break
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56

In [3]:
# Print numbers from 1 to 30 but skip numbers between 10 and 20

for i in range(1, 31):
    if(10 <= i <= 20):
        continue
    print(i)

1
2
3
4
5
6
7
8
9
21
22
23
24
25
26
27
28
29
30

In [9]:
# Print numbers from 1 to 100 and stop when the sum crosses 200

sum = 0
for i in range(1, 101):
    sum += i
    if(sum > 200):
        break
    print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190

In [10]:
# Print numbers from 1 to 50 but skip numbers ending with 3

for i in range(1, 51):
    if(i % 10 == 3):
        continue
    print(i)

1
2
4
5
6
7
8
9
10
11
12
14
15
16
17
18
19
20
21
22
24
25
26
27
28
29
30
31
32
34
35
36
37
38
39
40
41
42
44
45
46
47
48
49
50

In [13]:
# Print numbers from 1 to 100 and stop when you encounter the first even number greater than 50

for i in range(1, 101):
    if(i % 2 == 0 and i > 50):
        break
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51

In [14]:
# Print numbers from 1 to 40 and skip numbers divisible by both 2 and 3

for i in range(1, 41):
    if(i % 2 == 0 and i % 3 == 0):
        continue
    print(i)

1
2
3
4
5
7
8
9
10
11
13
14
15
16
17
19
20
21
22
23
25
26
27
28
29
31
32
33
34
35
37
38
39
40

In [1]:
# Print numbers from 1 to 10 using a while loop

i = 1
while i <= 10 :
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [2]:
# Print numbers from 20 to 1 using a while loop

i = 20
while i >= 1 :
    print(i)
    i -= 1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [3]:
# Print all even numbers between 1 and 50 using a while loop

i = 1
while i <= 50 :
    if i % 2 == 0 :
        print(i)
    i += 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [4]:
# Print all odd numbers between 1 and 50 using a while loop

i = 1
while i <= 50 :
    if i % 2 != 0 :
        print(i)
    i += 1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [5]:
# Print the table of 5 using a while loop

i = 1
while i <= 10 :
    print(5 * i)
    i += 1

5
10
15
20
25
30
35
40
45
50

In [7]:
# Find the sum of numbers from 1 to 100 using a while loop

sum = 0
i = 1
while i <= 100 :
    sum += i
    i += 1
print(sum)

5050

In [9]:
# Print numbers from 10 to 100 with a step of 10 using a while loop

i = 10
while i <= 100 :
    print(i)
    i += 10

10
20
30
40
50
60
70
80
90
100

In [10]:
# Print the square of numbers from 1 to 10 using a while loop

i = 1
while i <= 10 :
    print(i * i)
    i += 1

1
4
9
16
25
36
49
64
81
100

In [11]:
# Count from 1 to 30 using a while loop

count = 1
i = 1
while i <= 30 :
    count += 1
    i += 1
print(count)

31

In [12]:
# Print numbers from 100 to 0 with a step of -5 using a while loop

i = 100
while i >= 0 :
    print(i)
    i -= 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5
0

In [13]:
# Print all multiples of 7 between 1 and 100 using a while loop

i = 1
while i <= 100 :
    if i % 7 == 0 :
        print(i)
    i += 1

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [15]:
# Find the product of numbers from 1 to 10 using a while loop

i = 1
product = 1
while i <= 10 :
    product *= i
    i += 1
    print(i)

2
3
4
5
6
7
8
9
10
11

In [1]:
# Print numbers from 1 to 50 but skip multiples of 4 using a while loop

i = 1
while i <= 50 :
    if i % 4 != 0 :
        print(i)
    i += 1

1
2
3
5
6
7
9
10
11
13
14
15
17
18
19
21
22
23
25
26
27
29
30
31
33
34
35
37
38
39
41
42
43
45
46
47
49
50

In [4]:
# Print numbers from 1 to 100 and stop when the number becomes 60 using a while loop

i = 1
while i <= 100 :
    if i == 60 :
        break
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59

In [6]:
# Print numbers from 1 to 40 but stop when a number ends with 9 using a while loop

i = 1
while i <= 40 :
    if i % 10 == 9 :
        break
    print(i)
    i += 1

1
2
3
4
5
6
7
8